<h1>Appointment Details</h1>

<table>
  <tr>
    <th>Start Time</th>
    <td><%= @appointment.start_time.strftime('%Y-%m-%d %H:%M') %></td>
  </tr>
  <tr>
    <th>End Time</th>
    <td><%= @appointment.end_time.strftime('%Y-%m-%d %H:%M') %></td>
  </tr>
  <tr>
    <th>Doctor</th>
    <td><%= @appointment.doctor.name %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @appointment.status %></td>
  </tr>
</table>

<% if current_user.role == 'doctor' && @appointment.status == 'pending' %>
  <%= button_to 'Approve', approve_appointment_path(@appointment), method: :post %>
  <%= button_to 'Decline', decline_appointment_path(@appointment), method: :post %>
<% end %>
